{{ define "main" }}

{{- $title := .Title | markdownify -}}
{{- $category := (index .Params.categories 0) | markdownify -}}
{{- $director := cond (ne .Params.director nil) .Params.director .Params.artist | markdownify -}}
{{- $year := .Params.year | markdownify -}}
{{- $review_date := .Date.Format "2006-01-02" -}}
{{- $score_stars := print ("★" | strings.Repeat .Params.score) ("☆" | strings.Repeat (sub 5 .Params.score)) -}}

<div class="post-single">
    <h1>
        {{- $title -}} <span class="review-single-by">&nbsp;by&nbsp;</span>{{- $director -}} <span class="review-single-year">&nbsp;({{- $year -}})</span>
    </h1>
    <h2>{{- $score_stars -}}</h2>
    <a href="/categories/{{- $category -}}"><h3 class="review-single-category">#{{- $category -}}</h3></a>
    <article>
        {{ .Content }}
    </article>
    <footer>
        @mmazzarolo - <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
    </footer>
</div>

{{ end }}