{{ block "header" . }}
<header class="header">
  <nav class="header-list">
      {{ $current := . }}
    {{- range .Site.Menus.nav -}}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
      {{ $active = or $active (and (eq .Name "Reviews") (eq $current.Section "reviews")) }}
      {{ $active = or $active (and (eq .Name "About") (eq $current.Section "about")) }}
      {{ $active = or $active (and (eq .Name "About") (eq $current.Title "mmazzarolo.com")) }}
      <a href="{{ .URL }}" class="header-item {{ if $active }}header-item-active{{ end }}">{{ .Name }}</a>
    {{ end }}
  </nav>
</header>
{{ end }}
