body {
  line-height: 1.5;
  font-size: .96em;
}
.header-info {
  margin-top: 0;
}

.site-desc {
  font-style:normal; 
}

.highlight {
  font-size: 0.9em;
}

.header-info-back {
  margin-bottom: 3px;
  color: #37474f;
}

.widget-title.title  {
  display: none !important;
}

header img {
  float: right;
  height: 3em;
}

.copyright {
  font-size: 1em;
  color: rgba(0,0,0,0.5);
}

.entry-content  code {
  font-size: .88em;
}

@media screen and (max-width: 800px) {
  .highlight pre {
    padding: .75em .50em;
  }

  .highlight  {
    font-size: .68em;
    line-height: 1.3;
  }
}

blockquote {
  font-size: initial;
}