{{ define "main" }}

<div class="review-list">
  <summary>
    👋 Here I'm logging my opinions and feelings about movies, tv-series, albums and books, with a score from 1 to 5 to indicate how much I enjoyed them.<br/>  
    P.S.: My older <a href="https://rateyourmusic.com/~mazzaaaaa#musicrating">albums</a> and <a href="https://rateyourmusic.com/~mazzaaaaa#filmrating">movies</a> ratings are still on RateYourMusic.
  </summary>
  <br/>
  <ul>
    {{ range where .Pages "Section" "reviews" }}
      {{ partial "review-list-item.html" . }}
    {{ end }}
  </ul>
</div>

{{ end }}
