:root {
  --text-color: #303336;
  --text-content-color: #6F6865;
  --time-color: #777; 
  --link-color: #0366d6;
  --text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --header-font-family: font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--text-font-family);
  color: var(--text-color);
  max-width: 690px;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font-family);
  font-weight: 500;
  letter-spacing: 0.004em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

ul { 
  margin-bottom: 1rem;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin-bottom: 1rem;
  margin: 0;
}

time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--time-color);
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;    
  box-sizing: border-box;
}

figure {
  margin-block-start: 2em;
  margin-block-end: 2.4em;
  margin-inline-start: 1.2em;
  margin-inline-end: 1.2em;
}

/**********
 * HEADER *
 **********/
.header {
  margin-bottom: 24px;
  box-shadow: 0 1px 0 rgba(38,52,74,.15);
  padding: 0 0 20px 0;
}

.header-title {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  display: inline;
  color: var(--text-color);
}

.header-title > a {
  color: var(--text-color);
}

.header-list {
}

.header-item {
  font-weight: 500;
  margin-right: 0.4rem;
  color: var(--text-color);
}


/*************
 * POST LIST *
 *************/
.post-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list li {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 5px;
  padding-top: 5px;
}

@media only screen and (max-width: 540px) {
  .post-list li {
    padding-top: 1rem;
  }
}

.post-list li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.post-list time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  margin-left: 10px;
}

/***************
 * POST SINGLE *
 ***************/
.post-single footer{
  display: block;
  margin-top: 3rem;
  color: var(--time-color);
}

.post-single figcaption > h4 {
  font-weight: 200;
  color: gray;
  text-align: center;
  margin-top: 10px;
}


/*************
 * REVIEW LIST *
 *************/

.review-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.review-link {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

@media only screen and (max-width: 540px) {
  .review-link {
    display: flex;
    flex-direction: column;
  }
  .review-comma {
    display: none;
  }
}

.review-list-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 5px;
}

.review-list-subheader {
  text-align: right;
}

.review-list-right {
  display: flex;
  flex-direction:row;
}


@media only screen and (max-width: 540px) {
.review-list-right {
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
}
}

.review-list-right time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.review-list-right span {
  margin-left: 10px;
  text-align: right
}

.review-list-body {
  padding-top: 0.6rem;
  color: var(--text-content-color);
  /* font-style: italic; */
}

/***************
 * REVIEW SINGLE *
 ***************/
.review-single-by{
  color:#ACB3C1;
}

.review-single-category {
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-single-score {   
}

.review-single-heart {
  width: 15px;
  display: inline-block;
  margin: 1px;
}

.review-single footer{
  display: block;
  margin-top: 3rem;
  color: var(--time-color);
}


/*********
 * ABOUT *
 *********/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.about .about-content {
  max-width: 540px;
}

.about h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
  font-weight: 600;
}

.about h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}

.about h4 {
  font-size: 1.3rem;
  font-family: var(--text-font-family);
  font-weight: 300;
}

.about p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #9B9B9B;
}

/*******
 * 404 *
 *******/
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.not-found h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
  font-weight: 600;
}

.not-found h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}